body {
  background: #BFD7E4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 465px;
  background: #293241;
  z-index: -1;
  
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 457px;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  color: #FFF;
  font-size: 36px;
  margin: 100px 0 0;
  
}

header p {
  font-family: "Poppins", sans-serif;
  color: #FFF;
  font-size: 16px;
  margin-bottom: 20px;

}

header img {
  margin: 0 ;
  height: 100px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F67669;
  height: 158px;
  width: 750px;
  margin-top: 18px;
  border-radius: 15px 15px 0 0;
}

header h2 {
  font-size: 24px;
  color: #FFF;
  font-family: "Staatliches", sans-serif;

}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #FFF;
  width: 622px;
  border-radius: 0 0 20px 20px;
  padding: 32px 64px 0;
}

label {
  color: #4E4958;
}
label span {
  color: #C1BCCC;
}

.names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


label {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #4E4958;
}



.names input {
  width: 269px;
  height: 56px;
  margin: 8px 0px 16px 0px;
  border-radius: 8px;
 
}

input {
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Poppins", sans-serif;


  height: 56px;
  border-radius: 8px;
  background-color: #FAFAFC;
  border: 1px solid #E6E6F0;
}


.email input {
  width: 590px;
}

h2 {
  color: #253B51;
  font-size: 24px;
  font-family: "Staatliches", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}


.mentor input {
  width: 269px;

}

.separator {
  margin-left: 50px;
  width: 570px;
  height: 1px;
  background: #E6E6F0;
  margin-bottom: 36px;
}


.feedback input {
  width: 590px;
  height: 167px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  gap: 10px;

}

.checkbox label {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  
}

.check {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prox-ment {
  display: flex;
  flex-direction: row;

}
.data {
  gap: 20px;

}


.data input {
    width: 269px;
}

.dasate {
  display: flex;
  flex-direction: row;
}

.das1 label {
  margin-left: 20px;

}

.das1 input {
  margin-left: 20px;
  width: 109px;
}

.ate1 label {
  margin-left: 20px;

}

.ate1 input {
  margin-left: 20px;
  width: 109px;
}

button {
  color: #FFF;
  background: #F67669;
  border-radius: 8px;
  border: none;
  margin: 64px 0;
  height: 51px;
  width: 622px;
  font-family: "Staatliches", sans-serif;
  font-size: 20px;

}